[profile.default]
src = "src"
out = "out"
libs = ["lib"]
remappings = [
    "@openzeppelin/contracts/=lib/openzeppelin-contracts/contracts/",
    "forge-std/=lib/forge-std/src/",
    "reactive-lib/=lib/reactive-lib/src/"
]

# See more config options https://github.com/foundry-rs/foundry/tree/master/config

[profile.sepolia]
chain_id = 11155111

[fmt]
line_length = 120
tab_width = 4
bracket_spacing = true

[rpc_endpoints]
sepolia = "${SEPOLIA_RPC_URL}"

[etherscan]
sepolia = { key = "${ETHERSCAN_API_KEY}" }
